DB_NAME=mvideo_logs
DB_USER=mvideo
DB_PASSWORD=mvideo
DB_PUBLIC_PORT=5432
DB_ECHO=false

WEB_API_PUBLIC_PORT=8000

CLIENT_WORKERS=4
CLIENT_MAX_DELAY_MS=1000
CLIENT_REQUESTS_PER_WORKER=0
CLIENT_HTTP_TIMEOUT_SECONDS=5

FETCH_INTERVAL_SECONDS=10
EXPORT_BATCH_LIMIT=500
BACKGROUND_HTTP_TIMEOUT_SECONDS=10

LOCUST_USERS=20
LOCUST_SPAWN_RATE=5
LOCUST_RUN_TIME=1m
LOCUST_MAX_FAIL_RATIO=0.02
LOCUST_MAX_P95_MS=1000
